<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            起飞
        </title>
    </head>
    <body>
        <h2>芜湖起飞</h2>
        <div style="float: left;margin-bottom: 50px;margin-left: 200px;margin-right: 10px;"> 
            <img src="{{ deathgraph }}"></div>
        <div style="float: right;margin-bottom: 50px;margin-left: 10px;margin-right: 200px;">
            <img src="{{ comfirmgraph }}"></div>
        <div style="float: left;margin-left: 150px;margin-right: 10px;"> {{ html | safe }} </div>   
        <div style="float: right;margin-left: 10px;margin-right: 150px;">{{ html2 | safe }} </div>
    </body>
</html>