<!DOCTYPE html>
<html lang='en'>
<head>
    <meta name="viewport" content="width=device-width">
    <title>EasyCovidData</title>
</head>
<body>
    <form style="float:right;margin: 20px;" action="{% url 'pages:index' %}" method='post'>
        {% csrf_token %}
        {{ form }}
    <input type="submit">
    </form>

    <p><h1>Welcome to EasyCovidData</h1></p>

     <!-- Map for testing -->

     <div>
        <iframe src="https://createaclickablemap.com/map.php?&id=98123&maplocation=false&online=true" style="border: black;overflow: hidden;width: 100%;height: 100%;position: absolute;"></iframe>
        <script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script>
    </div>
    <!-- map for testing ends here-->
    <div style="margin-top: 100%;position: relative;">
        <hr>
        <p style="display: inline-block;margin: 20px;text-align: start;font-size: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
        EasyCovidData
        </p>
        <p style="margin: 10px;text-align: end;">
            <br>
            Created by Jihang Li
            <br>
            Contact me at ljh20021121@gmail.com
            <br>
            Data by John Hopkins University 
            <br>
            https://github.com/CSSEGISandData/COVID-19
        </p>
    </div>


    
</body>