<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            EasyCovidData {{ state }}
        </title>
    </head>
    <body>
        <h2>{{ state }} Covid Data </h2>
        <div style="float: left;margin: 150px;"> 
            {{ Deathfig | safe}}</div>
        <div style="float: right;margin: 150px;">
            {{ Comfirmfig | safe}}</div>
        <div style="display: inline-block;margin: 80px;"> {{ html | safe }} </div>   
        <div style="display: inline-block;margin: 80px;">{{ html2 | safe }} </div>
    </body>
</html>